{% extends "core/base.html" %}

{% block title %}- Fechas limpiadas{% endblock title %}

{% block content %}
  <div class="bg-gray-200 p-4 rounded-lg mb-6">
    <h1 class="text-2xl font-bold text-gray-800 text-center">¡Fechas limpiadas y normalizadas!</h1>
  </div>

  <div class="w-full flex justify-end mb-6">
    <a href="{% url 'home' %}" class="text-gray-700 font-medium hover:underline drop-shadow">
      Volver a inicio
    </a>
  </div>

  <!-- Buscador -->
  <input
    id="searchInput"
    type="text"
    placeholder="Buscar por nombre..."
    class="mb-4 p-2 rounded border border-gray-300 w-full max-w-md mx-auto block focus:outline-none focus:ring focus:border-gray-500"
  />

  <!-- Contenedor de resultados -->
  <div class="bg-gray-100 p-4 rounded-xl shadow-inner text-left max-h-80 overflow-y-auto mx-auto max-w-md">
    <h2 class="text-lg font-semibold text-gray-800 mb-4 text-center">Fechas Normalizadas</h2>

    <ul id="dataList" class="classic-font text-gray-700 text-base list-decimal list-inside space-y-2">
      {% for data in clean_data %}
        <li class="data-item">
          <strong>Nombre:</strong> {{ data.fnac_name }}<br>
          <strong>Fecha de nacimiento:</strong> {{ data.fnac_date }}<br>
          <strong>Edad:</strong> {{ data.fnac_age }}{% if data.fnac_age %} años{% endif %} {% if data.fnac_birthday %}🎊{% endif %}<br>
        </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Script de búsqueda -->
  <script>
    const searchInput = document.getElementById('searchInput');
    const dataItems = document.querySelectorAll('.data-item');

    searchInput.addEventListener('input', function () {
      const filter = this.value.toLowerCase();
      dataItems.forEach(item => {
        const text = item.textContent.toLowerCase();
        item.style.display = text.includes(filter) ? '' : 'none';
      });
    });
  </script>
{% endblock content %}
